html{
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #ffffff;
    font-family: "Montserrat", sans-serif;
    background: red;
    height: 100%;
  }
  
  header {
    background-color: rgb(191, 159, 228);
    height: 65px;
  }

  .contenedor {
      margin-top: 15px;
      display: flex;
  }

  .principal {
      width: 75%;
      height: 600px;
      background-color: yellow;
  }

  .secundario {
      width: 25%;
      background-color: violet;
      height: 600px;
      display: flex;
      flex-direction: column;
  }

  .info {
      width: 97%;
      height: 70%;
      border: black;
      background-color: aqua;
      margin-left: 3%;
  }

  .participantes {
      margin-top: 15px;
      width: 97%;
      height: 30%;
      border: black;
      background-color: tomato;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 3%;
  }

  button {
      border-radius: 5px;
      font-size: medium;
  }